body {
    background-color:rgb(253, 159, 159);
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title{
    color: white;
    padding: 10px;
    margin: 0px;
    background-color: black;
    text-align: center;
}

#subtitle{
    margin:0px;
    color: rgb(41, 41, 41);
}

#description{
    background: rgb(255, 255, 255);
    margin: 15px;
    padding: 10px;
    text-align: left;
    border-radius: 15px 0px 15px 0px;
    border: 5px solid black;
}

#survey-form{
    background:white;
    color: black;
    border: 5px solid black;
    padding: 15px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:75px;
    margin-right:75px;
    border-radius: 10px;
}

input[type=text] {
    border: 5px solid rgb(252, 84, 84);
    border-radius: 5px;
}

input[type=email] {
    border: 5px solid rgb(252, 84, 84);
    border-radius: 5px;
}

input[type=number] {
    border: 5px solid rgb(252, 84, 84);
    border-radius: 5px;
}
